version: '3.8'

services:
  mongo:
    image: mongo
    container_name: chatapp-mongo
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    ports:
      - '27017:27017'

  backend:
    build: ./backend
    container_name: backend
    ports:
      - '5001:5001'
    environment:
      - MONGODB_URI=mongodb://mongo:27017/chatapp
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - '5173:80'
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
